body {
  background-color: #ffccd5;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  color: #d6336c;
}

h2 {
  font-size: 3.0rem;
  color: #d6336c;
}

h3 {
  font-size: 3.0rem;
  color: #d6336c;
}

.buttons {
  margin-top: 20px;
}

button {
  min-width: 140px;
  min-height: 50px;
  touch-action: manipulation;
  padding: 15px 30px;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
}

#yesBtn {
  background-color: #ff4d6d;
  color: white;
}

#noBtn {
  background-color: #adb5bd;
  color: black;
}

.heart {
  position: fixed;
  bottom: -20px;
  font-size: 24px;
  animation: floatUp 100s linear infinite;
}

.sunflower {
  position: fixed;
  bottom: -20px;
  font-size: 24px;
  animation: floatUp 100s linear infinite;
}
@keyframes floatUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}

